body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

button {
    position: absolute;
    transition: 0.3s;
}

button:hover, button:active {
    background-color: inherit;
    opacity: 1;
}
